@model SportsStore.Domain.Entities.Product
<div class="well text-center">
    <h3>
        <strong><span class="pull-left">@Model.Name</span></strong>
    <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
        </h3>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.ProductID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" />
        </div>
    }
    <br>
    <br>
        <img height="250" class="img-rounded" src="@Model.ImagePath" /><br><!-- Ain't that some shit?-->
        <span class="lead">@Model.Description</span>
</div>